#Logo {
    background-color: #edde07;
    text-align: center;
    width: 100%;
    height: 30%;
}

#Login{
    color:#041e50;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
}

.Menu {
    background-color: #041e50;
    width: 100%;
    height: 15%;
    padding-top: 3px;
    
}

.Menu a {
    color:#edde07;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
}

header {
    color:#041e50;
    font-family: Arial;
}

main
{
    margin-top:100px;
}

main h1 {
    color:#041e50;
    font-family: Arial;
    text-align: center;
}

main p {
    color:#041e50;
    font-family: Arial;
    text-align: center;
    font-size: 18px;
}

.Categorias {
    color:#041e50;
    font-family: Arial;
    font-size: 13.3px;
    width: 15%;
    display: block;
    position: absolute;
}

.Produtos {
    margin-left: 15%;
    width: 100%;
}

.ItemProdutos {
    text-align: center;
    width: 20%;
    display: inline-block;
}

.DescricaoProdutos {
    color:#041e50;
    font-family: Arial;
    font-size: 13.3px;
    margin: 0 0 0 0;
}

.PrecoProdutos {
    color:#041e50;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 0;
}

.FaleConosco {
    display: inline;
    color:#041e50;
    font-family: Arial;
    font-size: 18px;
}

.Lojas {
    width: 29%;
    color:#041e50;
    font-family: Arial;
    display:inline-block;
    text-align: center;
}

.TituloGeral {
    color:#041e50;
    font-family: Arial;
    font-weight: bold;
}

#Rodape {
    color:#041e50;
    font-family: Arial;
    text-align: center;
    font-size: 13.3px;
    margin-top: 100px;
}